<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/layout/mypage_layout}" lang="ko">

<div layout:fragment="content" class="content">

	<style>
        .btn-card-header {
            border-radius: 0.3rem;
            font-weight: bold;
            border: none;
        }
	</style>

	<h3>1대1 문의 내역</h3>
	<br/>

	<table class="table noResponsive">
		<tr>
			<th>문의 번호</th>
			<td data-label="문의 번호" th:text="${question.id}"></td>
		</tr>
		<tr>
			<th>문의 유형</th>
			<td data-label="문의 유형" th:text="${question.questionType}"></td>
		</tr>
		<tr>
			<th>문의 시간</th>
			<td data-label="문의 시간"
			    th:text="${#temporals.format(question.questionAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
		</tr>
		<tr>
			<th></th>
			<td></td>
		</tr>
		<tr>
			<th>답변</th>
			<td data-label="답변" th:if="${not #strings.isEmpty(question.answer)}" th:text="${question.answer}">
		</tr>
		<tr>
			<th>답변 시간</th>
			<td data-label="답변 시간" th:if="${not #strings.isEmpty(question.answer)}"
			    th:text="${#temporals.format(question.answerAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
		</tr>
	</table>
</div>
</html>