<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/layout/mypage_layout}" lang="ko">

<div layout:fragment="content" class="content">

	<style>
        .btn-card-header {
            border-radius: 0.3rem;
            font-weight: bold;
            border: none;
        }
	</style>

	<h3>1대1 문의 내역</h3>
	<br/>
	
	<div class="card mb-3">
		<div class="card-header">
			<div class="row">
				<div class="col-6">
					문의 유형
				</div>
				<div class="col-6">
					문의 날짜
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-6" th:text="${question.questionType}">

				</div>
				<div class="col-6"
				     th:text="${#temporals.format(question.questionAt, 'yyyy년 MM월 dd일 HH시 mm분')}">

				</div>
			</div>
		</div>
	</div>

	<div class="mb-5">
		<h4>문의 사항</h4>
		<div class="card mb-3">
			<div class="card-header" th:text="${question.questionTitle}">
			</div>

			<div class="card-body">
				<div th:text="${question.questionDescription}">
				</div>
			</div>
		</div>
	</div>


	<div class="mb-2">
		<h4>답변</h4>
		<div class="card mb-3" th:if="${!question.answer.isBlank()}">
			<div class="card-header"
			     th:text="${#temporals.format(question.answerAt, 'yyyy년 MM월 dd일 HH시 mm분 작성된 답변')}">
			</div>

			<div class="card-body">
				<div th:text="${question.answer}">
				</div>
			</div>
		</div>

		<div class="card mb-3" th:unless="${!question.answer.isBlank()}">
			<div class="card-header">
			</div>

			<div class="card-body">
				<div>
					작성된 답변이 없습니다.
				</div>
			</div>
		</div>
	</div>
</div>
</html>