<!DOCTYPE html>
<html layout:decorate="~{/admin/layout/default_layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
	<link href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet"/>
</th:block>

<th:block layout:fragment="script">
	<script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
	<script th:src="@{/user/assets/js/mytable.js}"></script>
</th:block>

<div layout:fragment="content">

	<h1 class="mt-4">회원 관리</h1>
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item active">Overview Account</li>
	</ol>
	<div class="card-body">
		<table id="myTable">
			<!--			index, name, address, created_at-->
			<thead>
			<tr>
				<th>#</th>
				<th>아이디</th>
				<th>계정 유형</th>
				<!--				<th>답변 여부</th>-->
				<!--				<th style="width:3%"></th>-->
				<th style="width:3%"></th>
				<th style="width:3%"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="account : ${accounts}">
				<td th:text="${account.id}"></td>
				<td th:text="${account.username}"></td>
				<td th:text="${(account.role == 'ROLE_ADMIN' ? '관리자 계정' : '사용자 계정')}"></td>
				<!--				<td th:text="${question.anwser.isBlank() ? '@답변 하지 않음@' : '@답변 완료된 문의@'}"></td>-->
				<!--				<td th:text="${#temporals.format(question.answerAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>-->
				<!--				<td th:text="${#temporals.format(question.questionAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>-->
				<td>
					<a th:href="@{/admin/account/edit/{id}(id=${account.id})}"
					   style="text-decoration: none; color:black">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						     class="bi bi-pencil" viewBox="0 0 16 16">
							<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
						</svg>
					</a>
				</td>

				<td>
					<a id="detailBtn" th:href="'/admin/account/detail/' + ${account.id}">
						<!--						th:onclick=" 'loadingTag($(' + '\'interst' + ${question.id} + '\'));'"-->
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
						     class="bi bi-search" viewBox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
						</svg>
					</a>
				</td>

			</tr>
			</tbody>
		</table>

	</div>
</div>

</html>
