<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/user/layout/default_layout}"
      lang="ko">

<div layout:fragment="content" class="content">

	<div th:replace="/user/fragments/banner :: banner"></div>

	<!-- START 최근 피드 -->
	<div class="section small_pt pb_20">
		<div class="container">
			<div class="row justify-content-start">
				<div class="col-md-6">
					<div class="heading_s3 text-start">
						<h2>최근 피드</h2>
					</div>
					<div class="small_divider clearfix"></div>
				</div>
			</div>
			<div class="row shop_container main-card-group">

				<div class="col-6 p-3">
					<div class="main-card">
						<div class="img-container43">
							<a href="/feed">
								<img th:src="@{/user/assets/images/banner8.jpg}" class="w-100">
							</a>
						</div>

						<div class="product_info">
							<h6 class="recent_feed_title"><a href="/feed">컨텐츠 피드명 피드명 피드명 1111</a></h6>
							<div class="recent_feed_subtitle mb-2">
								공무원인 근로자는 법률이 정하는 자에 한하여 단결권·단체교섭권 ...
							</div>
							<a href="#" class="btn btn-more rounded-pill">더 알아보기</a>
						</div>
					</div>
				</div>

				<div class="main-card-split col-6 p-3">
					<div class="main-card">
						<div class="row">
							<div class="col-6">
								<div class="img-container43">
									<a href="/feed">
										<img th:src="@{/user/assets/images/banner8.jpg}">
									</a>
								</div>
							</div>

							<div class="col-6 p-3">
								<div class="row">
									<div class="product_info">
										<div class="recent_feed_category">카테고리</div>
										<h6 class="recent_feed_title"><a href="/feed">컨텐츠 피드명 피드명 피드명
											2222</a></h6>
										<div class="recent_feed_subtitle mb-4">
											공무원인 근로자는 법률이 정하는 자에 한하여 단결권·단체교섭권 ...
										</div>
										<a href="#" class="btn btn-more rounded-pill">더 알아보기</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main-card">
						<div class="row">
							<div class="col-6">
								<div class="img-container43">
									<a href="/feed">
										<img th:src="@{/user/assets/images/banner8.jpg}">
									</a>
								</div>
							</div>

							<div class="col-6 p-3">
								<div class="row">
									<div class="product_info">
										<div class="recent_feed_category">카테고리</div>
										<h6 class="recent_feed_title"><a href="/feed">컨텐츠 피드명 피드명 피드명
											3333</a></h6>
										<div class="recent_feed_subtitle mb-4">
											공무원인 근로자는 법률이 정하는 자에 한하여 단결권·단체교섭권 ...
										</div>
										<a href="#" class="btn btn-more rounded-pill">더 알아보기</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- END 최근 피드 -->

	<!-- START 카테고리별 피드 1-->
	<div class="section small_pt pb_20 mb-5">
		<div class="container">
			<div class="row justify-content-start">
				<div class="col-md-6">
					<div class="heading_s3 text-start">
						<h2>옷 카테고리</h2>
					</div>
					<div class="small_divider clearfix"></div>
				</div>
			</div>

			<div class="card-group flex-wrap">

				<div class="card" th:each="feed: ${clothes_category}">
					<div class="img-container43">
						<img th:src="'/file/' + *{feed.feed.getThumbnailFileName()}" class="card-img-top rounded"
						     alt="피드 썸네일 이미지">
					</div>
					<div class="card-body">
						<h5 class="card-title" th:text="${feed.feed.title}"></h5>
						<th:block>
							<p class="card-text" th:text="${feed.feed.description}">
								<!--						   th:inline="text">-->
								<!--							[[${#strings.abbreviate(feed.feed.description, 40)}]]-->
							</p>
						</th:block>
						<a th:href="'/feed/' + *{feed.feed.id}" class="btn btn-primary btn-more rounded-pill">더 알아보기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END 카테고리별 피드 1-->

</div>


</html>