.recent_feed_category{
    color: #111111;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

.navbar-button{
    border: 1px solid darkgray;
    float: right;
    margin: 13px 0 0 3px;
    /* font-size: 28px; */
    color: #333;
    transition: all 0.5s ease 0s;
    border-radius: 0;
    height: 35px;
    width: 90px;
    padding: 0;
    line-height: 36px;
    transition: none;
}

.btn-gray{
    background: darkgray;
    color: whitesmoke;
}

.navbar-login-btn:hover{
    color: black;
}


.btn-fill-dark{
    background-color: black !important;
}

/*
body{
    position: absolute !important;
    overflow-y: scroll !important;
}*/

.footer_sns li {
    display: inline-block;
    list-style: none;
    color: white;
    width: 2rem;
    margin-left: 0.8rem;
}

.intro_section{
    padding: 80px 0;
    background-color: lightgray;
    color: black;
    text-align-last: center;
}

.intro_section .title{
    font-size: 2rem;
    font-weight: 400;
}

.intro_section .subtitle{
    font-size: 1rem;
    font-weight: 250;
}

.section .title{
    color: black;
    font-size: 1.88rem;
    font-weight: 390;
}

.section .subtitle{
    color: black;
    font-size: 1rem;
    font-weight: 300;
}

.sns-login div{
    padding: 10px
}

.sns-login img {
    width: 2rem;
    margin-right: 0.5rem;
}

.shop_list_side{
    background-color: white;
}


#naverMap img {
    max-width: none;
    height: auto;
    border: 0
}

.shop_list{
    background-color: rgba(234, 234, 234, 0.37);
    height: 70vh;
    color: black;
}

.shop_list .title{
    font-weight: 350;
    font-size: 2rem;
}

.shop_list .menu .name{
    font-weight: 240;
    font-size: 1rem;
}