.recent_feed_category {
    color: #111111;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

.navbar-button {
    border: 1px solid darkgray;
    float: right;
    margin: 13px 0 0 3px;
    /* font-size: 28px; */
    color: #333;
    transition: all 0.5s ease 0s;
    border-radius: 0;
    height: 35px;
    width: 90px;
    padding: 0;
    line-height: 36px;
    transition: none;
}

.btn-gray {
    background: darkgray;
    color: whitesmoke;
}

.navbar-login-btn:hover {
    color: black;
}


.btn-fill-dark {
    background-color: black !important;
}

/*
body{
    position: absolute !important;
    overflow-y: scroll !important;
}*/

.footer_sns li {
    display: inline-block;
    list-style: none;
    color: white;
    width: 2rem;
    margin-left: 0.8rem;
}

.intro_section {
    padding: 80px 0;
    background-color: lightgray;
    color: black;
    text-align-last: center;
}

.intro_section .title {
    font-size: 2rem;
    font-weight: 400;
}

.intro_section .subtitle {
    font-size: 1rem;
    font-weight: 250;
}

.section .title {
    color: black;
    font-size: 1.88rem;
    font-weight: 390;
}

.section .subtitle {
    color: black;
    font-size: 1rem;
    font-weight: 300;
}

.sns-login div {
    /*padding: 10px*/
}

.sns-login img {
    width: 2rem;
    margin-right: 0.5rem;
}

.shop_list_side {
    background-color: white;
}


#naverMap img {
    max-width: none;
    height: auto;
    border: 0
}

.btn-shiftBtn {
    background-color: rgb(0, 25, 91);;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0 0.5rem 0.5rem 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.btn-optionBtn {
    background-color: rgb(0, 25, 91, 0.8);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.25rem;
    cursor: pointer;
    margin: 0 0.5rem 0.5rem 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}


/*START 피드 목록 카드뷰*/

.img-container43 {
    position: relative;
    height: 0;
    padding-top: 75%; /* 4:3 ratio */
}

.img-container43 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-card,
.card {
    background-color: rgba(243, 243, 243, 0.62);
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn-more {
    border-bottom: 10px solid black;
    border-radius: 50px;
    background-color: black;
    color: white;
    padding: 10px 70px 0px 20px !important;
    text-align: center;
}

@media (min-width: 950px) {
    .card-group {
        display: flex;
    }

    .card {
        flex: 1;
        margin-right: 20px;
    }

    .card:last-of-type {
        margin-right: 0;
    }

    .card {
        width: 100%;
    }
}

/*END 피드 목록 카드뷰*/


/*START 메인 최근 피드 목록 카드뷰*/
.main-card:first-child img {
    border-radius: 10px 10px 0 0;
}

.main-card:not(:first-child) img {
    border-radius: 0 0 10px 10px;
}

@media (min-width: 1250px) {
    .main-card-split .img-container43 {
        padding-top: 100% !important;
    }
}

@media (max-width: 1250px) {
    .main-card-group {
        flex-direction: column;
    }

    .main-card img {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 10px 10px 0 0;
    }

    .product_info {
        padding-left: 20px;
    }

    .main-card-group .col-6 {
        width: 100% !important;
    }

    .img-container43 {
        padding-top: 60%;
    }
}

/*END 메인 최근 피드 목록 카드뷰*/


.mobile-show {
    display: none;
}

@media screen and (max-width: 990px) {
    .mobile-show {
        display: block;
    }
}


.pc-show {
    display: none;
}

@media screen and (min-width: 991px) {
    .pc-show {
        display: block;
    }
}