<!DOCTYPE html>
<html layout:decorate="~{/admin/layout/default_layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="css">
	<!--	<link rel="stylesheet" th:href="@{/user/assets/css/style.css}">-->
	<link rel="stylesheet" th:href="@{/user/assets/css/custom-style.css}">
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="script">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</th:block>

<div layout:fragment="content">


	<script th:inline="javascript">
        // get editMode
        const editMode = /*[[${editMode}]]*/ false;
	</script>

	<h1 th:if="${editMode == true}" class="mt-4">컨텐츠 수정</h1>
	<h1 th:unless="${editMode == true}" class="mt-4">컨텐츠 생성</h1>
	<ol class="breadcrumb mb-4">
		<li th:if="${editMode == true}" class="breadcrumb-item active">Edit Contents</li>
		<li th:unless="${editMode == true}" class="breadcrumb-item active">Add New Contents</li>
	</ol>

	<!--/*@thymesVar id="ProductDto" type="com.sch.shift3.user.dto.ContentFeedDto"*/-->
	<form onsubmit="return contentCreate()" th:object="${ContentFeedDto}">
		<div class="card-body">
			<div class="row mb-3">
				<input type="text" th:field="*{id}" hidden/>
				<div class="col-8">
					<label class="form-label" for="title">제목 작성란</label>
					<input class="form-control" type="text" id="title" th:field="*{title}"/>
				</div>

				<div class="col-4">
					<label class="form-label" for="category">카테고리 선택</label>
					<select class="form-select" id="category" th:field="*{category}">
						<option value="">카테고리</option>
						<option value="전자기기">전자기기</option>
						<option value="옷">옷</option>
						<option value="기타">기타</option>
					</select>
				</div>
			</div>

			<div class="row mb-3">
				<!--			썸네일 이미지 업로드-->
				<label class="form-label" for="thumbnail">썸네일 이미지 업로드</label>
				<input id="thumbnail" type="file"/>
				<input id="thumbnailFileName" th:field="*{thumbnailFileName}" type="text" hidden/>
			</div>

			<div class="row mb-5">
				<details>
					<summary>썸네일 미리보기</summary>
					<div>
						<div class="card-group d-flex flex-wrap">
							<div class="card">
								<div class="img-container43">
									<img src="" class="card-img-top rounded"
									     alt="your-image-alt">
								</div>
								<div class="card-body">
									<h5 class="card-title">썸네일 미리보기</h5>
									<p class="card-text">이미지를 선택하여 미리보기를 합니다.</p>
									<a class="btn btn-primary btn-more rounded-pill">더 알아보기</a>
								</div>
							</div>

							<div class="card">
								<div class="img-container43">
									<img src="" class="card-img-top rounded"
									     alt="your-image-alt">
								</div>
								<div class="card-body">
									<h5 class="card-title">썸네일 미리보기</h5>
									<p class="card-text">이미지를 선택하여 미리보기를 합니다.</p>
									<a class="btn btn-primary btn-more rounded-pill">더 알아보기</a>
								</div>
							</div>

							<div class="card">
								<div class="img-container43">
									<img src="" class="card-img-top rounded"
									     alt="your-image-alt">
								</div>
								<div class="card-body">
									<h5 class="card-title">썸네일 미리보기</h5>
									<p class="card-text">이미지를 선택하여 미리보기를 합니다.</p>
									<a class="btn btn-primary btn-more rounded-pill">더 알아보기</a>
								</div>
							</div>
						</div>
					</div>
				</details>
			</div>

			<div class="row mb-3">
				<label class="form-label" for="description">내용 작성란</label>
				<textarea id="description" th:field="*{description}"></textarea>
			</div>

			<script>
                $(document).ready(function () {
                    $('#description').summernote({
                        placeholder: '내용을 입력해주세요.',
                        tabsize: 2,
                        height: 850,
                        lang: 'ko-KR',
                        callbacks: {	//여기 부분이 이미지를 첨부하는 부분
                            onImageUpload: function (files) {
                                uploadSummernoteImageFile(files[0], this);
                            },
                            onPaste: function (e) {
                                var clipboardData = e.originalEvent.clipboardData;
                                if (clipboardData && clipboardData.items && clipboardData.items.length) {
                                    var item = clipboardData.items[0];
                                    if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                                        e.preventDefault();
                                    }
                                }
                            }
                        }
                    });
                });

                /**
                 * 이미지 파일 업로드
                 */
                function uploadSummernoteImageFile(file, editor) {
                    data = new FormData();
                    data.append("file", file);
                    $.ajax({
                        data: data,
                        type: "POST",
                        url: "/admin/image/uploadFeed",
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            //항상 업로드된 파일의 url이 있어야 한다
                            let json = JSON.parse(data);
                            let url = '/file/' + json.fileName;

                            $(editor).summernote('insertImage', url);
                        }
                    });
                }

                const inputImage = document.getElementById('thumbnail');
                let preview = document.querySelectorAll('.img-container43 img');
                inputImage.addEventListener('change', function () {
                    const reader = new FileReader();
                    reader.onload = function () {
                        let data = new FormData();
                        data.append("file", inputImage.files[0]);

                        $.ajax({
                            data: data,
                            type: "POST",
                            url: "/admin/image/uploadFeed",
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                //항상 업로드된 파일의 url이 있어야 한다
                                let json = JSON.parse(data);
                                $("#thumbnailFileName").val(json.fileName);

                                preview.forEach((item) => {
                                    item.src = reader.result;
                                });
                            },
                            error: function (data) {
                                alert("이미지 업로드에 실패하였습니다.");
                                preview.forEach((item) => {
                                    item.src = "";
                                });
                            }
                        });
                    };
                    reader.readAsDataURL(inputImage.files[0]);
                });


                function contentCreate() {
                    // validation
                    if ($("#title").val() === "") {
                        alert("제목을 입력해주세요.");
                        return;
                    }

                    if ($("#thumbnailFileName").val() === "") {
                        alert("썸네일을 선택해주세요.");
                        return;
                    }

                    if ($("#description").val() === "") {
                        alert("내용을 입력해주세요.");
                        return;
                    }

                    if ($("#category").val() === "") {
                        alert("카테고리를 선택해주세요.");
                        return;
                    }

                    // form data
                    let formData = new FormData($('form')[0]);

                    $.ajax({
                        url: (editMode ? "/admin/content/edit.do" : "/admin/content/create.do"),
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            alert(` ${(editMode) ? '수정' : '등록'}되었습니다.`);
                            location.href = "/admin/contents/list";
                        },
                        fail: function (data) {
                            alert(data);
                        },
                    });
                }

                function searchProduct() {
                    let name = $('#search_product').val();
                    $.ajax({
                        type: "GET",
                        url: "/admin/product/search.do?name=" + name,
                        success: function (data) {
                            if (data === "") {
                                alert("검색 결과가 없습니다.");
                                return;
                            }

                            // if not checked, remove it
                            $("#products > tbody > tr").each(function () {
                                if (!$(this).find("input").is(":checked")) {
                                    $(this).remove();
                                }
                            });

                            data.forEach((item, index) => {
                                let exist = document.getElementById("products").querySelector("input[value='" + item.id + "']");
                                if (exist !== null) {
                                    return
                                }

                                $("#products > tbody:last").append(`
                                <tr>
                                	<td><input type="checkbox" name="products[${index}].id" value="${item.id}"></td>
									<td>${item.name}</td>
									<td>${item.price.toLocaleString()} 원</td>
									<td>${item.selectShop.name}</td>
                                `);
                            });

                            // $("#productList").html(data);
                        }
                    });
                }

			</script>

			<div class="row mb-3">
				<!--				검색, 추가 버튼-->

				<div class="col-lg-6 col-sm-12 mb-3">
					<label class="form-label" for="search_product">컨텐츠에 연결할 상품 검색</label>
					<div class="row">
						<div class="col-8">
							<input type="text" class="form-control mb-2" id="search_product"
							       placeholder="상품명 혹은 편집샵 이름을 입력해주세요.">
							<summary>
								<details>
									<summary>검색 도움말</summary>
									<div>
										<a class="text-muted">
											- 연결할 상품을 체크해가며 검색해주세요.
											<br/>
											- 편집샵 이름으로 검색하려면 샵 이름의 일부가 아닌 전체를 정확히 입력해주세요.
											<br/>
											- 체크된 상품은 검색 목록에서 제외됩니다.
											<br/>
										</a>
									</div>
								</details>
							</summary>
						</div>
						<div class="col-4">
							<button class="btn btn-primary rounded-pill w-100" type="button" onclick="searchProduct()">
								검색
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-12 mb-3">
					<label class="form-label" for="products">컨텐츠 연결 상품 선택</label>
					<div class="row">
						<table class="table" id="products">
							<thead>
							<tr>
								<th scope="col">연결</th>
								<th scope="col">상품명</th>
								<th scope="col">가격</th>
								<th scope="col">취급 편집샵</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="product : ${ContentFeedDto.getProducts()}">
								<td><input type="checkbox" th:name="'products[' + ${productStat.index} + '].id'"
								           th:value="${product.id}" th:checked="true"></td>
								<td th:text="${product.name}"></td>
								<td th:text="${product.price}"></td>
								<td th:text="${product.selectShop.name}"></td>
							</tr>
							<!--							<tr>
															<th scope="row">
																<input class="form-check-input" type="checkbox" value="" id="products[0]">
															</th>
															<td>asdasd</td>
															<td>1,000,000</td>
															<td>후니몰</td>
														</tr>-->
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<script th:inline="javascript">

                if (editMode) {
                    let thumbnailFilename = /*[[${ContentFeedDto.thumbnailFileName}]]*/ "";
                    // set thumbnail image
                    // document.getElementById("thumbnail").src = "/file/" + thumbnailFilename;
                    const inputImage = document.getElementById('thumbnail');
                    let preview = document.querySelectorAll('.img-container43 img');
                    preview.forEach((item) => {
                        item.src = "/file/" + thumbnailFilename;
                    });
                }

			</script>

			<div class="row mb-3">
				<button class="btn btn-primary rounded-pill w-100" onclick="return contentCreate()"
				        th:text=" ${editMode} ? '수정하기' : '등록하기'"
				        type="button"></button>
			</div>

		</div>
	</form>
</div>

</html>
