<!DOCTYPE html>
<html lang="ko">
<!-- START SECTION BANNER -->
<div class="banner_section slide_wrap shop_banner_slider staggered-animation-wrap" th:fragment="banner">

	<style>
        .banner_slide_content .banner_content2 .banner_description {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
	</style>
	<div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-bs-ride="carousel"
	     data-bs-interval="2000">
		<div class="carousel-inner">
			<!--/*@thymesVar id="bannerFeed" type="com.sch.shift3.user.entity.ContentFeed"*/-->
			<div class="carousel-item background_bg" th:classappend="${bannerStat.index == 0 ? 'active' : ''}"
			     th:data-img-src="'/file/' + ${banner.thumbnailFileName}"
			     th:each="banner : ${bannerFeed}">
				<div class="banner_slide_content banner_content_inner">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-8 col-sm-9 col-10">
								<div class="banner_content2">
									<h6 class="mb-2 mb-sm-3 staggered-animation text-uppercase"
									    data-animation="fadeInDown" data-animation-delay="0.2s"
									    th:text="${banner.category}"
									    style="background: white;color: black;width: fit-content;padding-left: 2vw; padding-right: 2vw;"></h6>
									<h2 class="staggered-animation" data-animation="fadeInDown"
									    data-animation-delay="0.3s" th:text="${banner.title}"
									    style="text-shadow: 0 0 20px black; color: white;"></h2>
									<p class="staggered-animation banner_description" data-animation="fadeInUp"
									   data-animation-delay="0.4s" th:text="${banner.descriptionNoHtml}"
									   style="text-shadow: 0 0 10px black; color: white;"></p>
									<a class="btn btn-line-fill btn-radius staggered-animation text-uppercase"
									   th:href="'/feed/' + ${banner.id}" data-animation="fadeInUp"
									   data-animation-delay="0.5s"
									   style="color: white !important;background-color: rgba(0, 28, 99, 0.8);">
										더 알아보기</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<ol class="carousel-indicators indicators_style2">
			<th:block th:each="banner : ${bannerFeed}">
				<li data-bs-target="#carouselExampleControls" th:data-bs-slide-to="${bannerStat.index}"
				    th:classappend="${bannerStat.index == 0 ? 'active' : ''}"></li>
			</th:block>
		</ol>

		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev"
		   style="background-color: rgba(0,0,0,0);">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next"
		   style="background-color:transparent;">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</a>
	</div>
</div>
<!-- END SECTION BANNER -->
</html>