<!DOCTYPE html>
<html lang="ko">
<head th:fragment="headFragment">
	<!-- Google tag (gtag.js) -->
	<!-- 애널리틱스 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-YPF4GGL102"></script>
	<script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-YPF4GGL102');
	</script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
	<!--  todo -->
	<meta name="description"
	      content="SHIFT3에서 뉴스피드를 기반으로 현명한 쇼핑을 하세요.">
	<meta name="keywords"
	      content="select shop, feed shop, street brand, hiphop brand">
	
	<meta property="og:title" content="SHIFT3">
	<meta property="og:description"
	      content="이 세상 모든 스토어를 연결하다">
	<meta property="og:image" content="https://shift3.co.kr/about/1.jpg">

	<!-- SITE TITLE -->
	<title>SHIFT3 - 이 세상 모든 스토어를 연결하다</title>
	<!-- Favicon Icon -->

	<style>
        /*mobile*/
        @media screen and (max-width: 767px) {
            body {
                overflow-x: hidden;
                width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        }
	</style>

	<link rel="shortcut icon" th:href="@{/favicon.ico}">
	<!-- Animation CSS -->
	<link rel="stylesheet" th:href="@{/user/assets/css/animate.css}">
	<!-- Latest Bootstrap min CSS -->
	<link rel="stylesheet" th:href="@{/user/assets/bootstrap/css/bootstrap.min.css}">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
	      rel="stylesheet">

	<!-- Icon Font CSS -->
	<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" th:href="@{/user/assets/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/ionicons.min.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/linearicons.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/flaticon.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/simple-line-icons.css}">
	<!--- owl carousel CSS-->
	<link rel="stylesheet" th:href="@{/user/assets/owlcarousel/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/user/assets/owlcarousel/css/owl.theme.css}">
	<link rel="stylesheet" th:href="@{/user/assets/owlcarousel/css/owl.theme.default.min.css}">
	<!-- Magnific Popup CSS -->
	<link rel="stylesheet" th:href="@{/user/assets/css/magnific-popup.css}">
	<!-- Slick CSS -->
	<link rel="stylesheet" th:href="@{/user/assets/css/slick.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/slick-theme.css}">
	<!-- Style CSS -->
	<link rel="stylesheet" th:href="@{/user/assets/css/style.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/custom-style.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/responsive.css}">
	<link rel="stylesheet" th:href="@{/user/assets/css/toastr.min.css}">

	<!--    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>-->
	<!--    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>-->
	<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />-->

	<style>
        @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

        body, talbe, th, td, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
        pre, form, fieldset, textarea, blockquote, span, * {
            font-family: 'Noto Sans KR', 'Spoqa Han Sans Neo', 'sans-serif';
        }
	</style>
</head>

</html>